
body {
	font-size: 11pxl;
}

a, footer {
	color: #fff !important;
	text-decoration: none;
}

.kbpbody {
    background-color: #3b5998;
    color: rgb(223, 220, 220);
};


.button-style {
    font-size: 25px;
    margin: 0 auto;
    float: left;
}

.quoteoutput {
   height: 190px;
   padding: 45px;
   position: center;

}

.kbpfooter {
    padding-top: 20%;
	color: #fff;
}


button {
	text-align: center;
}


#button-padding {

}

#dashboard {
	padding-top: 30%;
}



